.wsti{
position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
    display: flex;
    flex-wrap: nowrap;
    
}
.wst input{
border: solid;
margin: 30px;
height: 30px;
margin-left: 30px;
}
.wst select{
border: solid;
margin: 30px;
height: 30px;

}
.wste{
    position: absolute;
        left: 58%;
        top: 50%;
        transform: translate(-50%,-50%);
        display: flex;
        flex-wrap: nowrap;
        
    }
.po{
display: flex;
margin-left: 50px;
position:absolute;
left: 50%;
transform: translate(-50%,-50%);
top: 55%;
}
.pp{
    display: flex;
    margin-left: 50px;
    position:absolute;
    left: 50%;
    transform: translate(-50%,-50%);
    top: 58%;
    }
